<div class="container">
  <h1>Product Finder &#8482;</h1>
  <form (ngSubmit)="onSubmit()" #productForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" type="text" id="name"
             required
             [(ngModel)]="model.name" name="name"
             #name="ngModel">
      <div [hidden]="name.valid || name.pristine"
           class="alert alert-danger">
        Name is required.
      </div>
    </div>
    <div class="form-group">
      <label for="dob">Date of birth</label>
      <input class="form-control" type="text" id="dob"
             required
             pattern="\d{2}\.\d{2}\.\d{4}"
             placeholder="DD.MM.YYYY"
             [(ngModel)]="model.dateOfBirth" name="dob"
             #dob="ngModel">
      <div [hidden]="dob.valid || dob.pristine"
           class="alert alert-danger">
        <span *ngIf="dob.errors?.required">Date of birth is required.</span>
        <span *ngIf="dob.errors?.pattern">Format must be DD.MM.YYYY.</span>
      </div>
    </div>
    <div class="form-group">
      <label for="zip">Zip code</label>
      <input class="form-control" type="text" id="zip"
             required
             pattern="\d{4}"
             (ngModelChange)="setZip($event)"
             [(ngModel)]="model.zipCode" name="zip"
             #zip="ngModel">
      <div [hidden]="zip.valid || zip.pristine"
           class="alert alert-danger">
        <span *ngIf="zip.errors?.required">Zip code is required.</span>
        <span *ngIf="zip.errors?.pattern">Format must be four digits.</span>
      </div>
    </div>
    <div *ngIf="model.cityName.length" class="form-group">
      <label>City</label>
      <input class="form-control" type="text" id="city"
             disabled
             [(ngModel)]="model.cityName" name="city"
             #city="ngModel">
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!productForm.form.valid">Find products</button>
  </form>

  <div *ngIf="products.length" class="products">
    <hr>
    <h2>Matching products:</h2>
    <div class="alert alert-{{ product.category }}" *ngFor="let product of products">{{ product.name }}</div>
  </div>
</div>
